
    



<br/>
<br/>
<br/>
<br/>


    <!--==========================
      More Features Section
    ============================-->
    <section id="more-features" class="section-bg">
      <div class="container">

        <div class="section-header">
          <h3 class="section-title">System Configs</h3>
          <span class="section-divider"></span>
        </div>

        <div class="row">

          <div class="col-lg-3"></div>
          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <h4 class="title"><a href="">Edit Config</a></h4>



                <br/>
                <br/>
                <%= render 'form' %>


            </div>
          </div>




        </div>
      </div>
    </section><!-- #more-features -->



